body{font-family:Verdana, sans-serif;font-size:100%;margin:0;padding:0;}
  hr{border:0;height:1px;margin:15px;background-image:linear-gradient(to right,rgba(185,185,185,0),rgba(185,185,185,0.75),rgba(185,185,185,0));}

/* header */
header{position:fixed;top:0;left:0;bottom:0;overflow:hidden;margin:0;padding:0;width:220px;background:#2d3339 url(../images/header_bg.png) bottom 15px left no-repeat;text-align:center;}
  header::-webkit-scrollbar-thumb{background:rgba(200,200,200,0.7);border-radius:3px;}

  #site_title{margin:0;padding:0;font-size:2em;text-shadow:1px 1px 0px #000;}
    #site_title a{color:#ddd;text-decoration:none;display:block;padding:15px;margin:0;}

  #izbira_leta{}
    #izbrano_leto{background:#ccc;border:1px solid #000;display:block;margin:10px auto;padding:7px 12px;color:#333;font-size:0.8em;border-radius:2px;appearance:none;}
    #addYear{font-size: 0.7em;color:#ccc;text-decoration:none;padding:0;margin:0;}
    #addYear:hover{color:#fff;}

  nav{margin:0;text-align:left;}
  header ul{list-style-type:none;}
  nav ul{margin:10px 0;padding:0;}
  nav ul li{display:block;}
  nav ul li a{color:#ddd;display:block;margin:0;padding:10px 10px 10px 25px;text-decoration:none;}
  nav ul li a:hover,nav ul li a.selected{background:rgba(0,0,0,0.3);}

  #user_options{margin:0;padding:0;color:#ddd;text-align:right;}
    #user_options li#user_name{margin:0;padding:10px 55px 10px 10px;background:rgba(0,0,0,0.3) url(../images/bullet_arrow_down.png) center right 35px no-repeat;}
    #user_options li#user_name:hover{cursor:pointer;}
    #user_options li ul,nav li ul{margin:0;padding:5px 55px 5px 30px;background:rgba(0,0,0,0.2);}
    #user_options li ul{display:none;}
    #user_options li ul li,nav li ul li{margin:0;padding:0;}
    #user_options li ul li a,nav li ul li a{display:block;margin:0;padding:7px 12px;color:#ddd;font-size:0.9em;text-decoration:none;}
    #user_options li ul li a:hover,nav li ul li a:hover{color:#fff;background:none;}

/* Message boxes */
.message_box{margin:20px;padding:10px 25px;border-width:1px;border-style:solid;display:none;}
  .warning_box{background:#FEEFB3;color:#9F6000;}
  .info_box{background:#BDE5F8;color:#00529B;}
  .error_box{background:#FFBABA;color:#D8000C;}
  .success_box{background:#DFF2BF;color:#4F8A10;}

/* main */
main{margin:0 0 0 220px;padding:20px;}

  input,textarea,main select{display:block;width:400px;margin:20px;padding:10px;border:1px solid #2d3339;color:#333;border-radius:5px;outline:none;}
  input[type=radio],input[type=checkbox]{width:20px;margin:20px 0 20px 20px;}
  .obvezni_oddelki{display:none;}
  .obvezni_oddelki input[type=checkbox]{display:inline-block;}

  .submit_buttons{width:100px;display:inline-block;margin:20px 10px;padding:13px 0;line-height:100%;text-align:center;font-size:1em;text-decoration:none;color:#fff;border:1px solid #333;border-radius:3px;cursor:pointer;box-shadow:inset 1px 1px 1px rgba(255,255,255,0.25);}
    #submit_delete{float:left;background: linear-gradient(to bottom, #cc2222 0%,#bb1111 100%);}
    #submit_cancel{float:right;background: linear-gradient(to bottom, #3c444a 0%,#2d3339 100%);}
    #submit_save{float:right;background: linear-gradient(to bottom, #449922 0%,#338811 100%);}
    #submit_login{background: linear-gradient(to bottom, #3377cc 0%,#2266bb 100%);}
    #submit_delete:hover{background: linear-gradient(to top, #cc2222 0%,#bb1111 100%);}
    #submit_cancel:hover{background: linear-gradient(to top, #3c444a 0%,#2d3339 100%);}
    #submit_save:hover{background: linear-gradient(to top, #449922 0%,#338811 100%);}
    #submit_login:hover{background: linear-gradient(to top, #3377cc 0%,#2266bb 100%);}

    table{border-collapse:collapse;}
    table td{text-align:left;padding:5px 10px;}
    table th{text-align:left;padding:5px 10px;}
    .table_border td{border:1px solid #ddd;}
    table .table_label{text-align:right;}
    table .table_description{font-size:0.8em;color:#666;text-align:left;}

    h1{padding:20px;margin:10px 10px;border-bottom:2px solid #ddd;}

    .pregled, .uredi{margin:0px 5px;padding:5px;text-decoration:none;text-align:center;border:1px solid #bbb;color:#333;display:inline-block;width:100px;}
    .pregled{background-color:#cec;}
    .pregled:hover{background-color:#e9eee9;}
    .uredi{background-color:#ecc;}
    .uredi:hover{background-color:#eee5e5;}
